<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIMEAD - @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <img src="~/Images/Logo-AD.png" height="100" />
            </div>
            <div class="col-md-6 text-center">
                <span style="font-size: xx-large; font-weight: bold">SIMEAD</span><br />
                <span style="font-size: large;">Sistema Integral para Maquinaria Electoral de Acción Democrática</span> <br />
                <span style="font-size: x-large;">Municipio "Los Salias"</span>
            </div>
            <div class="col-md-3">
            </div>
        </div>
        <div class="navbar navbar-inverse">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                @*<ul class="nav navbar-nav">
            <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
            <li>@Html.ActionLink("Acerca de", "About", "Home")</li>
            <li>@Html.ActionLink("Contácto", "Contact", "Home")</li>
        </ul>
        @Html.Partial("_LoginPartial")*@
                @Html.Partial("_MenuPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - SIMEAD - AD Los Salias &reg;</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
